%h2
  Edit #{@champion.name}

= simple_form_for @champion, html: {multipart: true} do |f|
  = f.select :category_id, @categories
  = f.input :champion_img , as: :file
  = f.input :role, label: 'Role'
  = f.input :health ,as: :integer
  = f.input :armor ,as: :integer
  = f.input :attack ,as: :integer
  = f.button :submit , class: "btn btn-md btn-success"